@import "./doc-components/index";

$background-color: #EAECEE

body
    font-family: 'Source Sans Pro', sans-serif;
    color: #424949
    margin-left: 10%
    margin-right: 10%
    background-color: rgba($background-color, 0.5)
